.childList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.childButton {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7530;
    color: #fffae6;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.border {
    display: block;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px #ffe681;
    border-radius: 4px;
}

.createChildButton {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe681;
    color: #39190a;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.createBorder {
    display: block;
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px #ff7530;
    border-radius: 4px;
}

.loading {
    font-size: 30px;
    font-weight: bold;
}

.error {
    color: rgb(175, 11, 11);
    font-size: 14px;
    font-weight: bold;
}
