.container {
    height: 100svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 30px;
    color: #39190a;
    font-weight: bold;
}

.description {
    font-size: 20px;
    color: #39190a;
    font-weight: bold;
}

.loginButton {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7530;
    color: #fffae6;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buttonBorder {
    display: block;
    width: 290px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px #ffe681;
    border-radius: 4px;
}

.selectContainer {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.createContainer {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.label {
    font-size: 20px;
    color: #39190a;
    font-weight: bold;
    padding-right: 20px;
}

.input {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ff7530;
    color: #333;
    border-radius: 5px;
}

.submitButton {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7530;
    color: #fffae6;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.submitBorder {
    display: block;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px #ffe681;
    border-radius: 4px;
}

.error {
    color: rgb(175, 11, 11);
    font-size: 14px;
    font-weight: bold;
}
