.header {
    height: 40svh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.undoButton {
    text-align: center;
    margin-top: 10px;
}

.selectedContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

.selectedChar {
    width: 70px;
    height: 100px;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
    border: solid 3px #c8c8c8;
    border-radius: 7px;
    background-color: #ffffff;
}

/* camera result hiragana card style */
.resultChar {
    width: 90px;
    height: 130px;
    font-size: 50px;
}

.resultChar:before {
    width: 80px;
    height: 120px;
}

.resultChar:after {
    width: 100px;
    height: 140px;
}

/* game style card */
.gamePlayChar {
    width: 70px;
    height: 100px;
    font-size: 40px;
}
.gamePlayChar::before {
    width: 60px;
    height: 90px;
}

.gamePlayChar::after {
    width: 80px;
    height: 110px;
}

.hiraganaChar {
    /* width: 70px;
    height: 100px; */
    /* font-size: 40px; */
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 7px;
    text-align: center;
    line-height: 80px;
    background-color: #ffffff;
}

.gameSelectContainer {
    height: 60svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameText {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 20px;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

.successChars {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 80px;
    gap: 10px;
}

/* スクロールバーのスタイリング */
.selectedContainer::-webkit-scrollbar,
.gameText::-webkit-scrollbar {
    height: 4px;
}

.selectedContainer::-webkit-scrollbar-track,
.gameText::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

.selectedContainer::-webkit-scrollbar-thumb,
.gameText::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gameSubmitButton {
    position: relative;
    width: 175px;
    height: 70px;
    padding: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #ff7530;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gameSubmitButton:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 55px;
    border: dashed 2px #ffe681;
    border-radius: 10px;
}

.gameBackButton {
    position: relative;
    width: 175px;
    height: 70px;
    padding: 10px;
    color: #39190a;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #fffae6;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gameBackButton:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 55px;
    border: dashed 2px #ff7530;
    border-radius: 10px;
}

.gameBackButton:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
    opacity: 0.5;
}

.gameSubmitButton:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
    opacity: 0.5;
}

.a_group,
.ka_group,
.sa_group,
.ta_group,
.na_group,
.ha_group,
.ma_group,
.ya_group,
.ra_group,
.wa_group,
.long_vowel_symbol,
.ga_group,
.za_group,
.da_group,
.ba_group,
.pa_group,
.a_youon_group,
.ya_youon_group,
.wa_youon_group,
.tu_sokuon_group {
    position: relative;
}

.a_group:before,
.ka_group:before,
.sa_group:before,
.ta_group:before,
.na_group:before,
.ha_group:before,
.ma_group:before,
.ya_group:before,
.ra_group:before,
.wa_group:before,
.long_vowel_symbol:before,
.ga_group:before,
.za_group:before,
.da_group:before,
.ba_group:before,
.pa_group:before,
.a_youon_group:before,
.ya_youon_group:before,
.wa_youon_group:before,
.tu_sokuon_group:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 60px;
    height: 90px; */
    border-radius: 6px;
}

.a_group:after,
.ka_group:after,
.sa_group:after,
.ta_group:after,
.na_group:after,
.ha_group:after,
.ma_group:after,
.ya_group:after,
.ra_group:after,
.wa_group:after,
.long_vowel_symbol:after,
.ga_group:after,
.za_group:after,
.da_group:after,
.ba_group:after,
.pa_group:after,
.a_youon_group:after,
.ya_youon_group:after,
.wa_youon_group:after,
.tu_sokuon_group:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 80px;
    height: 110px; */
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* あ行 */
.a_group {
    background-color: var(--a-group-bg-color);
}

.a_group:before {
    border: 1px dashed var(--a-group-color);
}

.a_group:after,
.a_youon_group:after {
    background-color: var(--a-group-color);
}

/* あ行拗音 */
.a_youon_group {
    background-color: var(--a-youon-group-bg-color);
}

.a_youon_group:before {
    border: 1px dashed var(--a-youon-group-color);
}

/* か行 */
.ka_group {
    background-color: var(--ka-group-bg-color);
}

.ka_group:before {
    border: 1px dashed var(--ka-group-color);
}

.ka_group:after,
.ga_group:after {
    background-color: var(--ka-group-color);
}

/* が行 */
.ga_group {
    background-color: var(--ka-group-bg-color);
}

.ga_group:before {
    border: 1px dashed var(--ga-group-color);
}

/* さ行 */
.sa_group {
    background-color: var(--sa-group-bg-color);
}

.sa_group:before {
    border: 1px dashed var(--sa-group-color);
}

.sa_group:after,
.za_group:after {
    background-color: var(--sa-group-color);
}

/* ざ行 */
.za_group {
    background-color: var(--sa-group-bg-color);
}

.za_group:before {
    border: 1px dashed var(--za-group-color);
}

/* た行 */
.ta_group {
    background-color: var(--ta-group-bg-color);
}

.ta_group:before {
    border: 1px dashed var(--ta-group-color);
}

.ta_group:after,
.da_group:after,
.tu_sokuon_group:after {
    background-color: var(--ta-group-color);
}

/* だ行 */
.da_group {
    background-color: var(--ta-group-bg-color);
}

.da_group:before {
    border: 1px dashed var(--da-group-color);
}

/* つ拗音 */
.tu_sokuon_group {
    background-color: var(--tu-sokuon-group-bg-color);
}

.tu_sokuon_group:before {
    border: 1px dashed var(--tu-sokuon-group-color);
}

/* な行 */
.na_group {
    background-color: var(--na-group-bg-color);
}

.na_group:before {
    border: 1px dashed var(--na-group-color);
}

.na_group:after {
    background-color: var(--na-group-color);
}

/* は行 */
.ha_group {
    background-color: var(--ha-group-bg-color);
}

.ha_group:before {
    border: 1px dashed var(--ha-group-color);
}

.ha_group:after,
.ba_group:after,
.pa_group:after {
    background-color: var(--ha-group-color);
}

/* ば行 */
.ba_group {
    background-color: var(--ha-group-bg-color);
}

.ba_group:before {
    border: 1px dashed var(--ba-group-color);
}

/* ぱ行 */
.pa_group {
    background-color: var(--ha-group-bg-color);
}

.pa_group:before {
    border: 1px dashed var(--pa-group-color);
}

/* ま行 */
.ma_group {
    background-color: var(--ma-group-bg-color);
}

.ma_group:before {
    border: 1px dashed var(--ma-group-color);
}

.ma_group:after {
    background-color: var(--ma-group-color);
}

/* や行 */
.ya_group {
    background-color: var(--ya-group-bg-color);
}

.ya_group:before {
    border: 1px dashed var(--ya-group-color);
}

.ya_group:after,
.ya_youon_group:after {
    background-color: var(--ya-group-color);
}

/* や行拗音 */
.ya_youon_group {
    background-color: var(--ya-youon-group-bg-color);
}

.ya_youon_group:before {
    border: 1px dashed var(--ya-youon-group-color);
}

/* ら行 */
.ra_group {
    background-color: var(--ra-group-bg-color);
}

.ra_group:before {
    border: 1px dashed var(--ra-group-color);
}

.ra_group:after {
    background-color: var(--ra-group-color);
}

/* わ行 */
.wa_group {
    background-color: var(--wa-group-bg-color);
}

.wa_group:before {
    border: 1px dashed var(--wa-group-color);
}

.wa_group:after,
.wa_youon_group:after {
    background-color: var(--wa-group-color);
}

/* わ行拗音 */
.wa_youon_group {
    background-color: var(--wa-youon-group-bg-color);
}

.wa_youon_group:before {
    border: 1px dashed var(--wa-youon-group-color);
}

/* 長音 */
.long_vowel_symbol {
    background-color: var(--long-vowel-symbol-bg-color);
}

.long_vowel_symbol:before {
    border: 1px dashed var(--long-vowel-symbol-color);
}

.long_vowel_symbol:after {
    background-color: var(--long-vowel-symbol-color);
}

.resultContainer {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wordDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wordChar {
    text-align: center;
    line-height: 130px;
    border: none;
    border-radius: 7px;
}

.resultButtonContainer {
    display: flex;
    gap: 50px;
}

.descriptionText {
    text-align: center;
    padding: 20px;
    /* padding: 10px; */
    font-size: 20px;
}
