.cameraCompoWrap {
    width: 100%;
}

.searchPicture {
    position: absolute;
    z-index: 10;
    top: 18px;
    left: 165px;
}

.cameraButton {
    position: relative;
    width: 250px;
    height: 100px;
    background-color: #ff7530;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fffae6;
}

.border {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px 33px;
    border: 2px dashed #ffe681;
    border-radius: 6px;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 40%;
    padding: 40px 0 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerText {
    font-size: 40px;
    font-weight: bold;
}

.resultContainer {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultText {
    font-size: 80px;
    text-align: center;
}

.loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}
