.character {
    display: block;
    width: 100%;
    height: 80%;
}

.findWrapper {
    width: 100%;
    height: 100%;
}

.descriptionWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionTit {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 50px; */
}
