.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    z-index: 101;
    text-align: center;
}

.button {
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    background-color: #ff7530;
    line-height: 30px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
